/**
 * @ Author: Jbristhuille
 * @ Create Time: 2022-09-30 15:47:21
 * @ Description: Main component style
 */

/* SUMMARY
  * Variables
  * Favorites
  * Color generation
*/

/* Variables */
* {
  --margin: 32px;
}
/***/

/* Favorites */
#favorites-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transition: left ease 0.3s;
  left: -100%;

  &.open {
    left: 0;
  }

  .navbar {
    padding: 32px;
  }

  #saved-color-list {
    .item {
      display: flex;
      justify-content: space-between;

      .h5 {
        margin: 32px;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      .buttons {
        display: flex;
        margin-right: 32px;

        button {
          margin-top: 16px;
          margin-bottom: 16px;

          &:last-child {
            margin-left: 16px;
          }
        }
      }
    }
  }
}
/***/

/* Color generation */
#color-generation-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  #menu-button {
    position: fixed;
    top: var(--margin);
    left: var(--margin);
  }

  #sub-button-container {
    display: grid;
    justify-content: center;

    #user-button {
      display: grid;
      justify-items: center;
      grid-gap: 16px;
    }

    #hex-code {
      margin: 48px;
    }
  }

  #generate-button {
    margin: var(--margin);
    margin-top: 0;
  }
}
/***/
